h1{
    color:red;
}


.heading {
    color: blue;
}


.header {
    display: flex;
}

.empty-cnt {
    flex: 1;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list li:not(:nth-child(3)) {
    margin-right: 10px;
}



* {font-family: Arial, sans-serif;}

.center-cnt {
    text-align: center;
}